{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "include/_macros.html" as macros %}

{% block title %}About{% endblock %}


{% block topimg %}
<section class="content" style= "background:url('../static/img/top_wind.jpg')">
  <h3 class="widget-user-username">
      <a href="https://github.com/JushuangQiao/blog.git">
        Get source code
      </a>
      <a href="https://github.com/JushuangQiao/blog.git" style="color:black" >
          <i class="fa fa-fw fa-github-square"></i>
      </a>
  </h3>
  <h5 class="widget-user-desc">红楼隔雨相望冷</h5>
</section>
{% endblock %}


{% block page_content %}
    <h1><strong>关于小站</strong></h1>
	<h4>Email:<a  href="mailto:qiaojushuang@163.com">qiaojushuang@163.com</a>&nbsp;
	<a href="https://github.com/JushuangQiao" style="color:black" ><i class="fa fa-fw fa-github-square"></i></a>
	<a href="http://weibo.com/3910401213/"style="color:black" ><i class="fa fa-fw fa-weibo"></i></a>
	</h4>

	<h3>
	    人生识字忧患始，姓名粗记可以休。<br>
        纵无沉沉悲鲍照，犹有轻轻羡马周。<br>
        青梅许都逢新酒，绿柳灞桥遇旧游。<br>
        老泉莫羞入舍院，瞻由二子出眉州!<br><br>

        无花无酒过清明，兴味索然似野僧。<br>
        一曲红楼悲宝黛，百年乌巷叹荣宁。<br>
        黄土垄中何薄命？茜纱帐里枉多情！<br>
        掩卷凭轩问白帝，但见云雾绕京城。<br><br>

        维扬绛珠林，潇湘妃子门。<br>
        轻烟见风影，浓雾隐月痕。<br>
        才岂柳絮咏，泪止葬花吟？<br>
        太虚幻境过，谁怜梦中人？<br><br>

        二十五年身，孑立不肖人。<br>
        堪悲素娥冷，更喜杜康温。<br>
        红烛烧半夜，舅姑待晓晨。<br>
        新岁无旧愿，但忆谢将军。<br><br>

        春梦沉酣睡亦足，奈何无暖入屠苏。<br>
        满堂茶泼香愈美，谁人可与共赌书？<br><br>

        昼敲代码夜读书，闲观石头寻绛珠。<br>
        偶见盆景出新叶，再伴旧梦入姑苏
	</h3>
{% endblock %}







