{% extends 'base.html' %}
{% import 'include/_macros.html' as macros %}

{% block title %}
    {{ user.username }}{{ title }}
{% endblock %}

{% block page_content %}
<div class="page-header" style="margin-left: 150px">
    <h1>我{{ title }}</h1>
</div>
<div>
<table class="table table-hover followers" style="margin-left: 150px; width: 100%">
    <thead style="margin-right: 300px">
        <tr>
            <th data-file-width="20%">用户</th>
            <th data-file-width="60">关注时间</th>
        </tr>
    </thead>
    {% for follow in follows %}
    <tr>
        <td>
            <a href="{{ url_for('main.user_detail', username = follow.user.username) }}">
                {{ follow.user.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="pagination" style="margin-left: 150px">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}