{% extends "base.html" %}
{% import "include/_macros.html" as macros %}

{% block title %}用户资料{% endblock %}

{% block page_content %}
    {% include 'include/_userbase.html' %}
    <div class="btn-group">
        <a href="{{ url_for('main.user_detail',username=user.username)}}" class="btn btn-info" >
            {{ user.posts.count() }}篇博客
        </a>
        <a href="{{ url_for('main.user_comments',username=user.username)}}" class="btn btn-default">
            {{ user.comments.count() }}条评论
        </a>
        <a href="{{ url_for('main.star_posts', username=user.username) }}" class="btn btn-default">
            {{ user.starposts.__len__() }}篇收藏
        </a>
    </div>
    {% include 'include/_post.html' %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.user_detail', username=user.username) }}
    </div>
    {% endif %}
{% endblock %}