
<h1><strong> {{ current_user.real_name }},欢迎来到Blog后台 </strong><small>{{ moment(g.current_time).format('LLL') }}</small></h1>

<!--     <p>That was {{ moment(g.current_time).fromNow(refresh=True) }}</p>
<script >
document.write("现在是"+(new Date()).toLocaleDateString() + " " + (new Date()).toLocaleTimeString());
// 时间
</script>  -->
<div class="btn-group">
<a href="{{ url_for('admin.edit') }}" class="btn btn-info" >后台管理员</a>
<a href="{{ url_for('admin.edit_user') }}" class="btn btn-default">所有用户</a>
<a href="{{ url_for('admin.edit_post') }}" class="btn btn-default">文章管理</a>
<a href="{{ url_for('admin.edit_category') }}" class="btn btn-default">分类管理</a>
<a href="{{ url_for('admin.edit_comment') }}" class="btn btn-default">评论管理</a>
</div>